@define-color bar-bg rgba(14, 14, 14, 0.00);

/* @define-color main-color @theme_text_color; */
/* @define-color main-color #824cad; */
@define-color main-color #d2d9fa;
@define-color selected-color #a567cc;
@define-color main-bg #000000;
@define-color tooltip-bg rgba(14, 14, 14, 1);

@define-color dark #292828;

@define-color tool-bg #292828;
@define-color tool-color #c5b18d;
@define-color tool-border #383432;

@define-color wb-color #a89984;

@define-color wb-act-bg #7c6f64;
@define-color wb-act-color #504945;

@define-color wb-hvr-bg rgba(216, 166, 87,0.1);
@define-color wb-hvr-color #5a524c;


* {
	border: none;
	border-radius: 0px;
	/* font-family: "Zpix"; */
	font-family: "SF Pro Display";
	font-weight: bold;
	font-size: 14px;
}

window#waybar {
	background: alpha(@main-bg, 0.4);
	/* border-radius: 10px; */
	/* border: 1px solid red; */
}


.modules-right {
	margin: 3px;
	border-radius: 7px; 	
	color: @main-color;
	background: alpha(@main-bg, 0.3);
	min-width: 150px;
}

.modules-center {
	/* padding-left: 16px; */
	margin: 3px;
	border-radius: 7px; 	
	background: alpha(@main-bg, 0.2);
}

.modules-left {
	margin: 3px;
	border-radius: 7px; 	
	color: @main-color;
}

tooltip {
	background: @tooltip-bg;
	color: @tool-color;
	border-radius: 8px;
	padding: 16px;
}

/* Left */
#window {
	background: alpha(@main-bg, 0.3);
	padding: 2px 10px;
	border-radius: 5px;
}

#hardware {
	/* min-width: 200px; */
}
#custom-arrow-right {
	font-size: 16px;
	padding-right: 12px;
	padding-left: 12px;
}
#custom-quit,
#custom-lock,
#custom-power {
	font-size: 16px;
	margin-right: 12px;
	margin-left: 12px;
}

#custom-reboot {
	margin-right: 10px;
	margin-left: 12px;
	font-size: 18px;
}

#custom-quit:hover,
#custom-lock:hover,
#custom-power:hover,
#custom-reboot:hover {
	transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
	color: @selected-color;
	
}

/* Center */

#workspaces {
	padding-left: 16px;
	padding-right: 16px;
	background: none;
	border-radius: 0px 24px 24px 0px;
}

#workspaces button {
	font-size: 20px;
	box-shadow: none;
	text-shadow: none;
	padding: 0px;
	min-width: 32px;
	color: @main-color;
	transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
	opacity: 0.9;
}

#workspaces button.active {
	color: @selected-color;
	transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
	opacity: 0.95;
}

#workspaces button:hover {
	color: alpha(@selected-color, 0.8);
	background-color: alpha(@main-color, 0.1);
	transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
	opacity: 1;
}


/* Right */
#battery,
#network,
#pulseaudio,
#pulseaudio-slider,
#clock {
	padding-right: 12px;
	padding-left: 12px;
}

#pulseaudio.muted {
	padding-right: 3px;
}

#battery.charging {
	font-size: 17px;
	padding-right: 0px
}



/* pulse slider */
#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 10px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
	background-color: transparent;
	border-radius: 10px;
}
#pulseaudio-slider trough {
	min-height: 3px;
	min-width: 80px;
	border-radius: 5px;
	background-color: alpha(@main-bg, 0.8);
}
#pulseaudio-slider highlight {
	min-width: 10px;
	min-height: 3px;
	border-radius: 5px;
	background-color: @main-color;
}


